# **Question 5:**
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

    Example:
        If the input list is
        12 24 35 24 88 120 155 88 120 155
        Then the output should be
        12 24 35 88 120 155
    
    Explanation:
      Third, seventh and ninth element of the list L has been removed because it was already present.

    Input Format:
      In one line take the elements of the list L with each element separated by a space.

    Output Format:
      Print the elements of the modified list in one line with each element separated by a space.

    Example:
        Input: 12 24 35 24
        Output: 12 24 35

In [5]:
def removeduplicate(lst):
    lst1=[]
    for i in lst:
        add=1
        for j in lst1:
            if i == j:
                add=0
                break
        if add == 1:
            lst1.append(i)
    print(' '.join(lst1))

In [6]:
lst2=input("Enter comma seperated number:").split(" ")
removeduplicate(lst2)

Enter comma seperated number:12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155

In [7]:
lst2=input("Enter comma seperated number:").split(" ")
removeduplicate(lst2)

Enter comma seperated number:12 24 35 24
12 24 35