# **Assignment5**
##        Consider a list of 10 elements. Print all the elements in the list which are greater than 7 when that number is divided 2.

In [1]:
def checknum(a):
    for i in a:
        if i >7 and i%2 == 0:
            print(i)

In [3]:
lsta=[1,2,4,6,9,10,4,12,7,8]
checknum(lsta)

10
12
8

In [4]:
lsta=[20,21,42,55,57,60,22,23,16,18]
checknum(lsta)

20
42
60
22
16
18