# **Assignment3**
##      Consider two numbers. Perform their subtraction and if the result of subtraction is greater than 25, print their multiplication result else print their division result.

In [4]:
def sub1(a,b):
    c=a-b
    if c>25:
        print("Multiplied: ",a*b)
    else:
        print("Divided: ",a/b)

In [5]:
sub1(46,2)

Multiplied:  92

In [6]:
sub1(20,2)

Divided:  10.0