# **Assignment 2**
##  Write a Python program to implement 15 functions of string.

In [7]:
# Function 1
# capitalize(	)
# Return a copy of the string with only its first character capitalized.
str1="anand"
str1.capitalize()

'Anand'

In [8]:
# Function 2
# center(	width[, fillchar])
# Return centered in a string of length width. Padding is done using the specified fillchar (default is a space).
str1="anand"
str1.center(20,"*")

'*******anand********'

In [10]:
# Function 3
# isalnum(	)
# Return true if all characters in the string are alphanumeric and there is at least one character, false otherwise.
str1="anand"
print(str1.isalnum())
str2="@anand"
print(str2.isalnum())

True
False

In [11]:
# Function 4
# isalpha(	)
# Return true if all characters in the string are alphabetic and there is at least one character, false otherwise.
str1="anand"
print(str1.isalpha())
str2="anand123"
print(str2.isalpha())

True
False

In [12]:
# Function 5
# isdigit(	)
# Return true if all characters in the string are digits and there is at least one character, false otherwise.
str1="anand"
print(str1.isdigit())
str2="anand123"
print(str2.isdigit())
str3="123"
print(str3.isdigit())

False
False
True

In [13]:
# Function 6
# isnumeric(	)
# Return true if all characters in the string are numeric and there is at least one character, false otherwise.
str1="anand"
print(str1.isnumeric())
str2="anand123"
print(str2.isnumeric())
str3="123"
print(str3.isnumeric())

False
False
True

In [14]:
# Function 7
# islower(	)
# Return True if all cased characters in the string are lowercase and there is at least one cased character, False otherwise.
str1="anand"
print(str1.islower())
str2="Anand"
print(str2.islower())

True
False

In [16]:
# Function 8
# isupper()
# Return True if all cased characters 4 in the string are uppercase and there is at least one cased character, False otherwise.
str1="anand"
print(str1.isupper())
str2="ANAND"
print(str2.isupper())

False
True

In [17]:
# Function 9
# lower()
# Return a copy of the string with all the cased characters converted to lowercase.
str1="Anand"
str1.lower()

'anand'

In [18]:
# Function 10
# upper()
# Return a copy of the string with all the cased characters converted to uppercase.
str1="Anand"
str1.upper()

'ANAND'

In [19]:
# Function 11
# capitalize()
# Return a copy of the string with first character of the first string capitilized ana all other converted to lower case
str1="anand IS Here"
str1.capitalize()

'Anand is here'

In [20]:
# Function 12
# title()
# Return a copy of the string with first character of all word to capital and rest to upper case
str1="anand IS Here"
str1.title()

'Anand Is Here'

In [21]:
# Function 13
# casefold()
# Return a copy of the string with converted to lowercase
str1="anand IS Here"
str1.casefold()

'anand is here'

In [22]:
# Function 14
# replace()
# Return a copy of the string with selected character replaced with new character
str1="anand IS Here"
str1.replace("a","p")

'pnpnd IS Here'

In [23]:
# Function 15
# count()
# Returns the number of times a specified value occurs in a string
str1="anand IS Here"
str1.count("a")

2