In [1]:
%matplotlib inline
import pandas as pd

In [2]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [3]:
cast=pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [4]:
release_dates=pd.read_csv('release_dates.csv')
release_dates.head()

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                   #BKKY  2016     Cambodia  2017-10-12
2                 #Beings  2015      Romania  2015-01-29
3               #Captured  2017          USA  2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21

### How many movies are listed in the titles dataframe?

In [5]:
print(f"Number of Titles in Dataframe are : {titles.title.count()} ")

Number of Titles in Dataframe are : 244914

### What are the earliest two films listed in the titles dataframe?

In [6]:
titles.sort_values('year').head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [7]:
print(f"There are {titles.title[titles.title == 'Hamlet'].count()} such records")

There are 20 such records

### How many movies are titled "North by Northwest"?

In [8]:
print(f"There are {titles.title[titles.title == 'North by Northwest'].count()} such records")

There are 1 such records

### When was the first movie titled "Hamlet" made?

In [9]:
print("Details of the first hamlet movie are as following : ")
titles[titles.title == 'Hamlet'].sort_values('year').head(1)

Details of the first hamlet movie are as following :

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [10]:
titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [11]:
titles[titles.year == 1950].year.count()

1113

### How many movies were made in the year 1960?

In [12]:
titles[titles.year == 1960].year.count()

1549

### How many movies were made from 1950 through 1959?

In [13]:
titles[(titles.year > 1950) & (titles.year <= 1969)].title.count()

29797

### In what years has a movie titled "Batman" been released?

In [14]:
titles[titles['title']=='Batman'].year.to_list()

[1943, 1989]

### How many roles were there in the movie "Inception"?

In [15]:
count = cast[cast.title == 'Inception'].character.unique()
len(count)

56

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [16]:
cast[cast.title == 'Inception'].n.isnull().sum()

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [17]:
cast[cast.title == 'Inception'].n.count()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [18]:
cast[cast.title ==  'North by Northwest'].dropna(axis=0).sort_values('n')

                      title  year  ...                    character     n
871426   North by Northwest  1959  ...           Roger O. Thornhill   1.0
3518333  North by Northwest  1959  ...                  Eve Kendall   2.0
1457165  North by Northwest  1959  ...              Phillip Vandamm   3.0
3157232  North by Northwest  1959  ...              Clara Thornhill   4.0
356707   North by Northwest  1959  ...                The Professor   5.0
3048272  North by Northwest  1959  ...                Mrs. Townsend   6.0
1695173  North by Northwest  1959  ...              Lester Townsend   7.0
1275337  North by Northwest  1959  ...                      Leonard   8.0
2447081  North by Northwest  1959  ...                     Valerian   9.0
1811387  North by Northwest  1959  ...              Victor Larrabee  10.0
665768   North by Northwest  1959  ...                        Licht  11.0
2295714  North by Northwest  1959  ...                   Auctioneer  12.0
464736   North by Northwest  1959  ...                    Dr. Cross  13.0
1508344  North by Northwest  1959  ...               Sergeant Flamm  14.0
206471   North by Northwest  1959  ...               Captain Junket  15.0
1384780  North by Northwest  1959  ...  Charley - Chicago Policeman  16.0

[16 rows x 6 columns]

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [19]:
cast[(cast.title == 'Sleuth') & (cast.year == 1972)].sort_values('n')

          title  year  ...                   character    n
1705394  Sleuth  1972  ...                 Andrew Wyke  1.0
326773   Sleuth  1972  ...                 Milo Tindle  2.0
373876   Sleuth  1972  ...           Inspector Doppler  3.0
1465483  Sleuth  1972  ...  Detective Sergeant Tarrant  4.0
2724553  Sleuth  1972  ...             Marguerite Wyke  5.0
1448690  Sleuth  1972  ...      Police Constable Higgs  6.0

[6 rows x 6 columns]

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [20]:
cast[(cast.title == 'Sleuth') & (cast.year == 2007)].sort_values('n')

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [21]:
cast[(cast.title == 'Hamlet') & (cast.year == 1921)].character.count()

9

### How many roles were credited in Branaghs 1996 Hamlet?

In [22]:
cast[(cast.title == 'Hamlet') & (cast.year == 1996)].character.count()

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [23]:
print("The number of Hamlet roles that have been listed in all film credits throughout the history are:")
print(len(cast[(cast.title == 'Hamlet')]))

The number of Hamlet roles that have been listed in all film credits throughout the history are:
342

### How many people have played an "Ophelia"?

In [24]:
cast[cast == 'Ophelia'].character.count()

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

117

### How many people have played a role called "The Dude"?

In [25]:
cast[cast.character == 'The Dude'].character.count()

19

### How many people have played a role called "The Stranger"?

In [26]:
cast[cast.character == 'The Stranger'].character.count()

212

### How many roles has Sidney Poitier played throughout his career?

In [27]:
cast[cast.name == 'Sidney Poitier'].name.count()

43

### How many roles has Judi Dench played?

In [28]:
cast[cast.name == 'Judi Dench'].name.count()

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [29]:
cast[(cast.name == 'Cary Grant')&(cast.n == 2)&(cast.year >= 1940)&(cast.year <= 1949)].sort_values('year')

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [30]:
cast[(cast.name == 'Cary Grant') & (cast.n == 1)&(cast.year >= 1940)&(cast.year <=1949)].sort_values('year')

                                       title  ...    n
871448               The Howards of Virginia  ...  1.0
871407                       His Girl Friday  ...  1.0
871450                The Philadelphia Story  ...  1.0
871438                             Suspicion  ...  1.0
871452                  The Talk of the Town  ...  1.0
871429                 Once Upon a Honeymoon  ...  1.0
871398                     Destination Tokyo  ...  1.0
871422                             Mr. Lucky  ...  1.0
871430                      Once Upon a Time  ...  1.0
871390                  Arsenic and Old Lace  ...  1.0
871425             None But the Lonely Heart  ...  1.0
871424                         Night and Day  ...  1.0
871427                             Notorious  ...  1.0
871444      The Bachelor and the Bobby-Soxer  ...  1.0
871445                     The Bishop's Wife  ...  1.0
871421  Mr. Blandings Builds His Dream House  ...  1.0
871402          Every Girl Should Be Married  ...  1.0
871411                I Was a Male War Bride  ...  1.0

[18 rows x 6 columns]

### How many roles were available for actors in the 1950s?

In [31]:
len(cast[(cast.year >= 1950)&(cast.year < 1960) & (cast.type == 'actor')].type)

157738

### How many roles were available for actresses in the 1950s?

In [32]:
len(cast[(cast.year >= 1950)&(cast.year < 1960) & (cast.type == 'actress')].type)

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [33]:
cast[(cast.n == 1)&(cast.year <= 1980)].character.count()

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [34]:
(cast[cast.year <= 1980].character.count()) - (cast[(cast.n == 1)&(cast.year <= 1980)].character.count())

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [35]:
cast[cast.year == 1980].n.isnull().sum()

4466